<!--<button mat-button (click)="isLinear = !isLinear">切換Linear狀態</button>-->
<form [formGroup]="basicFormGroup" (ngSubmit)="onSubmit(basicFormGroup.value)" [hidden]="strSubmitFlag" >
  <mat-vertical-stepper linear="true">
    <mat-step formGroupName="StepOneQuestion" [stepControl]="basicFormGroup.get('StepOneQuestion')">
        <ng-template matStepLabel>
          <u>預約人資訊</u>
        </ng-template>
        <p>
        <mat-form-field>
          <input name="name" matInput placeholder="姓名" formControlName="name" required>
          <mat-error>請輸入姓名</mat-error>
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
          <input name="NickName" matInput placeholder="暱稱" formControlName="NickName" required>
          <mat-error>請輸入暱稱</mat-error>
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
          <input matInput name="Phone" type="tel"  placeholder="電話" formControlName="Phone" required>
          <mat-error>請輸入正確的電話格式</mat-error>
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
          <mat-select name="Sex" formControlName="Sex" placeholder="性別" required>
            <mat-option value="male">男</mat-option>
            <mat-option value="female">女</mat-option>
          </mat-select>


          <mat-error>請輸入性別</mat-error>
        </mat-form-field>
        </p>

      <!--<button mat-button matStepperNext>下一步</button>-->
    </mat-step>
    <mat-step formGroupName="StepTwoQuestion" [stepControl]="basicFormGroup.get('StepTwoQuestion')">
      <ng-template matStepLabel>
        <em>選擇場地</em>
      </ng-template>
      <p>
        <mat-form-field>
          <mat-select  name="Place" formControlName="Place" placeholder="地點" (selectionChange)="updateDateOfPlace($event)" required>
            <mat-option *ngFor= 'let PlaceA of PlaceList' [value]='PlaceA.ID'>{{PlaceA.Place}}</mat-option>
          </mat-select>
          <mat-error>請選擇場地</mat-error>
        </mat-form-field>

      </p>
      <p>
        <mat-form-field>
          <mat-select  name="Date" formControlName="Date" placeholder="日期" (selectionChange)="updateTimeOfDate($event)"  required>
            <mat-option *ngFor= 'let DateA of DateOfPlace' [value]='DateA.Date'>{{DateA.Date | date:'yyyy/MM/dd'}}</mat-option>
          </mat-select>
          <mat-error>請選擇日期</mat-error>


        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-select  name="Time" formControlName="Time" placeholder="時段" required>
            <mat-option *ngFor= 'let TimeA of TimeOfDate' [value]='TimeA.ID'>{{TimeA.Time}}</mat-option>
          </mat-select>
          <mat-error>請選擇時段</mat-error>

          <!--<input type="number" name="Time" matInput placeholder="時段" formControlName="Time" required>-->
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput type="number" name="PeopleCount"  placeholder="人數" formControlName="PeopleCount" min="1" required>
          <mat-error>請選擇人數</mat-error>
        </mat-form-field>

      </p>
      <!--<button mat-button matStepperPrevious>上一步</button>
      <button mat-button matStepperNext>下一步</button>-->
    </mat-step>
    <mat-step label="注意事項">
      <p>
        場地說明 : XXXXXXXXXX
      </p>
      <p>
        <!--<mat-form-field>
          <input type="text" name="Place" matInput placeholder="地點" formControlName="Place" [matAutocomplete]="countries" required/>
          <mat-error>請選擇地點</mat-error>
        </mat-form-field>
        <mat-autocomplete #countries="matAutocomplete" >
          <mat-option *ngFor="let PlaceA of PlaceList" [value]="PlaceA.Place">
            {{PlaceA.Place}}
            <span class="autocomplete-highlight span" [innerHTML]="highlightFiltered(Place.name)"></span> //此段未完成
          </mat-option>
        </mat-autocomplete>-->
      </p>
      <!--<button mat-button matStepperPrevious>上一步</button>-->
      <button mat-button type="submit" >確認預約</button>
    </mat-step>
  </mat-vertical-stepper>
</form>

<!--[hidden]="!strSubmitOK"-->
<div *ngIf="strSubmitlog != null" >
  <div>
    謝謝您，已完成預約!
  </div>
  <div >
    預約序號 : {{strSubmitlog.msg}}
  </div>
  <div>
    <button mat-button [routerLink]="['../index']">回首頁</button>
  </div>
</div>

<div style="position: absolute;top: 50%;left: 50%;" [hidden]="!showProcessIcon">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  <div style="text-align: center;">Processing...</div>
</div>
