<mat-toolbar color="primary" class="demo-app-header">
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
  </button>

  <span>羽球場地預約系統</span>

  <!-- 在這之後的都會被推到右邊去 -->
  <span class="toolbar-seprator"></span>
  <label style="font-size: 8pt;">Hi 訪客 </label>
  <button mat-icon-button [matMenuTriggerFor]="messageMenu" #menuTrigger="matMenuTrigger">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>

</mat-toolbar>





<mat-sidenav-container class="demo-app-container">

  <!-- 主選單功能 -->
  <mat-sidenav class="demo-app-sidenav" mode="push" #sideNav>
    <mat-nav-list>
      <a [routerLink]="['index']" (click)="sideNav.toggle()" mat-list-item>首頁</a>
      <a [routerLink]="['place']"  (click)="sideNav.toggle()" mat-list-item>場地預約</a>
      <a [routerLink]="['search']" (click)="sideNav.toggle()" mat-list-item>場地查詢</a>

      <mat-divider></mat-divider>
      <!-- 另外一組選單 -->
      <h3 matSubheader>其他連結</h3>
      <a [routerLink]="['/']" mat-list-item>CakeEasy手做乳酪坊</a>
      <a [routerLink]="['/']" mat-list-item>Google</a>
      <a [routerLink]="['/']" mat-list-item>Facebook</a>
      <a [routerLink]="['/']" mat-list-item>問題回饋</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- 右上選單欄內容 -->
  <mat-menu #messageMenu="matMenu">
    <button mat-menu-item>會員中心</button>
    <button mat-menu-item>預約資訊</button>

  </mat-menu>

  <!--主要內容區-->
  <mat-sidenav-content >

    <!--<button mat-button (click)="sideNav.toggle()">切換左邊選單狀態</button>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <button mat-raised-button color="primary">Hello World！</button>-->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


