<p>reservation works!</p>



<mat-sidenav-container>
  <mat-sidenav #sideNav>
    <mat-nav-list>
      <h3 matSubheader>示範用頁面</h3>
      <a [routerLink]="['/', 'dashboard', 'survey']" mat-list-item>問卷調查</a>
      <a [routerLink]="['/', 'dashboard', 'blog']" mat-list-item>部落格</a>
      <a [routerLink]="['/', 'dashboard', 'inbox']" mat-list-item>收件夾</a>
      <mat-divider></mat-divider>
      <!-- 另外一組選單 -->
      <h3 matSubheader>其他頁面</h3>
      <a [routerLink]="['/']" mat-list-item>首頁</a>
      <a [routerLink]="['/']" mat-list-item>Google</a>
      <a [routerLink]="['/']" mat-list-item>Facebook</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button (click)="sideNav.toggle()">切換左邊選單狀態</button>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <button mat-raised-button color="primary">Hello World！</button>
    <mat-icon>person</mat-icon>
    <div>
      這是一般的ICON顏色
      <mat-icon>person</mat-icon>
    </div>

    <div>
      這是加上primary顏色的ICON
      <mat-icon color="primary">thumb_up</mat-icon>
    </div>

    <div>
      這是加上accent顏色的ICON
      <mat-icon color="accent">info</mat-icon>
    </div>

    <div>
      這是加上warn顏色的ICON
      <mat-icon color="warn">warning</mat-icon>
    </div>



    <h2>自行註冊SVG icon</h2>

    <div>
        <mat-icon svgIcon="custom-svg:angular"></mat-icon>
        <mat-icon svgIcon="custom-svg:angular" color="primary"></mat-icon>
        <mat-icon svgIcon="custom-svg:angular" color="accent"></mat-icon>
        <mat-icon svgIcon="custom-svg:angular" color="warn"></mat-icon>
    </div>


    <h2>在MatIcon中使用FontAwesome</h2>

    <div>
      <!-- 就是<i class="fa fa-thumbs-up">的概念 -->
      <mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up"></mat-icon>
      <mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up" color="primary"></mat-icon>
      <mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up" color="accent"></mat-icon>
      <mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up" color="warn"></mat-icon>
    </div>
    <div>
      <button mat-button>我是按鈕</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button>Link</a> <!-- 放在a tag裡面也沒問題 -->
    </div>
    <div>
    <button mat-raised-button>我是raised按鈕</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-button>Link</a>
    </div>

    <div>
      <button mat-raised-button color="primary"><mat-icon>thumb_up</mat-icon> 我有Icon</button>
    </div>
    <div>
      <button mat-raised-button color="primary"><mat-icon>thumb_up</mat-icon></button>
    </div>
    <div>
      <button mat-icon-button color="primary"><mat-icon>thumb_up</mat-icon></button>
    </div>
    <div>
      <button mat-raised-button mat-icon-button color="primary"><mat-icon>thumb_up</mat-icon></button>
    </div>
    <div>
      <button mat-fab>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-fab color="primary">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-fab color="accent">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-fab color="warn">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-fab disabled>
        <mat-icon>thumb_up</mat-icon>
      </button>
    </div>

    <div>
      <mat-button-toggle>我是個開關</mat-button-toggle>
    </div>

    <div>
      <mat-button-toggle-group #formatAlignGroup="matButtonToggleGroup">
        <!-- button toogle所代表的值 -->
        <mat-button-toggle value="left">
          <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <!-- 預設被選取 -->
        <mat-button-toggle value="center" checked="true">
          <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="right">
          <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
        <!-- 不允許選擇的button toggle -->
        <mat-button-toggle value="justify" disabled>
          <mat-icon>format_align_justify</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div>對齊方式為：{{ formatAlignGroup.value }}</div>

      <!-- 加上multiple，則裡面的mat-buttong-toggle可以複選 -->
      <!-- 加上vertical="true", 改變排列方式 -->
      <mat-button-toggle-group multiple vertical="true">
        <mat-button-toggle value="bold" #buttonToggleBold>
          <mat-icon>format_bold</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="italic" checked="true" #buttonToggleItalic>
          <mat-icon>format_italic</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="underlined" checked="true" #buttonToggleUnderlined>
          <mat-icon>format_underlined</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div>粗體：{{ buttonToggleBold.checked }}、斜體：{{ buttonToggleItalic.checked }}、底線：{{ buttonToggleUnderlined.checked }}</div>
    </div>


    <mat-toolbar color="primary" class="demo-app-header">
      <button mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
      </button>

      <span>IT鐵人賽－Angular Material Demo</span>

      <!-- 在這之後的都會被推到右邊去 -->
      <span class="toolbar-seprator"></span>

      <button mat-icon-button [matMenuTriggerFor]="messageMenu" #menuTrigger="matMenuTrigger">
        <mat-icon>message</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
      </button>

    </mat-toolbar>



    <mat-menu #messageMenu="matMenu">
      <button mat-menu-item>最新訊息</button>
      <button mat-menu-item>訊息設定</button>
      <button mat-menu-item [matMenuTriggerFor]="subMenu1">訊息1</button>
      <button mat-menu-item [matMenuTriggerFor]="subMenu2">訊息2</button>
      <button mat-menu-item>訊息3</button>
    </mat-menu>

    <mat-menu #subMenu1="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    訊息 1-1
  </button>
  <button mat-menu-item>
    <mat-icon>favorite</mat-icon>
    訊息 1-2
  </button>
  <button mat-menu-item>
    <mat-icon>thumb_up</mat-icon>
    訊息 1-3
  </button>
</mat-menu>

<mat-menu #subMenu2="matMenu">
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    訊息 2-1
  </button>
  <button mat-menu-item disabled>
    <mat-icon>settings</mat-icon>
    訊息 2-2
  </button>
</mat-menu>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
